@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}
@layer utilities {
  .animate-fade-in {
    animation: fadeIn 1.5s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

}

